nav {
  display: flex;
  justify-content: space-between;
  background-color: steelblue;
  align-items: center;
  color: white;
}
:link {
  margin: 20px;
  font-size: 14px;
  color: black;
  text-decoration: none;
}
.items {
  margin: 20px;
  font: size 14px;
  color: white;
  text-decoration: none;
}
footer {
  background-color: grey;
  text-align: center;
  padding: 20px 0px;
  position: absolute;
  bottom: 0;
  width: 100%;

}
.container{
  padding: 0 50px;
}
.home {
  background-image: linear-gradient(to right red green);
  height: 70px;
  opacity: 0.5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
form {
  display: grid;
  grid-template: colums 1fr 0.2fr;
  width: 40%;
}
form input,
button{
padding: 20px 7px;
font-size: 20px;
}
form input {
  border-radius: 20px 0px  20px;
}
form button {
  border-radius: 10px 0px 0px 10px;
  background-color: indigo;
}
.home div h1 {
  font-size: 80px;
  color: white;
  font-style: normal;
}